.budget-tracker-container {
    display: flex;
    flex-direction: column;
    padding-inline: var(--padding-page);
    overflow: hidden;
}
.budget-tracker-title h1 {
    font-weight: bold;
    margin: 20px 20px 0px 0px;
    color: var(--fourth-color);
}
.budget-tracker-expenses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    padding: var(--padding-page);
    width: 100%;
}
.budget-tracker-data,
.budget-tracker-list,
.budget-tracker-chart {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* budget-tracker-data */
.budget-input-container {
    display: flex;;
    flex-direction: column;
    gap: 10px;
    padding: 0px 20px 20px 0px;
    width: 100%;
}
input {
    border-radius: 5px;
    padding: 8px 13px;
    margin-bottom: 10px;
    border: 1px solid var(--border-color);
    font-size: var(--font-size-input);
    font-weight: var(--font-weight-label);
    width: 100%;
    color: var(--text-color-input);
}
.budget-input-container p{
    font-size: var(--font-size-label);
    font-weight: var(--font-weight-label);
    margin-bottom: 10px;
}
input:focus {
    outline: none;
    border: 1px solid var(--btn-color);
    box-shadow: 0 0 5px var(--btn-color);
}

.expense-form {
    display: flex;
    flex-direction: column;
    padding: 0px 20px 20px 0px;
}
h3 {
    font-size: var(--font-size-subtitle);
    font-weight: var(--font-weight-label);
    margin-bottom: 10px;
    color: var(--third-color);
    margin-inline: 1.6em;
}
label {
    font-size: var(--font-size-label);
    font-weight: var(--font-weight-label);
    margin-bottom: 5px;
}
.expense-form button {
    margin-top: 10px;
    padding: 10px 20px;
    background: var(--btn-color);
    color: var(--color-white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--font-size-label);
    font-weight: var(--font-weight-label);
    transition: background-color 0.3s ease;
    width: 100px;
}
.expense-form button:hover {
    background: var(--btn-hover-color);
    transition: background-color 0.3s ease;
}

/* budget-tracker-list */
.expense-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 20px 0px;
    gap: 20px;
    width: 100%;
    max-height: 46.9vh;
}
.expense-list p{
    color: var(--text-color-input);
}
.expense-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    overflow-y: auto;
}
.expense-list ul::-webkit-scrollbar {
    width: 6px;
}
.expense-list ul::-webkit-scrollbar-thumb {
    background-color: #1976d2;
    border-radius: 3px;
}
.expense-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--color-white);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}
.expense-list li:hover {
    background-color: var(--border-color);
    transition: background-color 0.3s ease;
}
.expense-list li span {
    font-size: var(--font-size-label);
    font-weight: var(--font-weight-label);
    color: var(--text-color-input);
}
.expense-list li .span-amount:hover {
    color: black;
}
.expense-list li .span-name {
    color: var(--color-white);
    background-color: var(--btn-color);
    border-radius: 50px;
    padding: 3px 10px;
    font-size: var(--font-size-input);
}
.expense-list button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: var(--font-size-input);
}
.expense-list button:hover {
    text-shadow: 0 0 5px var(--fifth-color);
}
.budget-summary {
    margin-top: 20px;
    text-align: center;
}
.budget, .remaining {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}  
.budget {
    background-color: #e3f2fd;
    color: #0d47a1;
}
.remaining {
    background-color: #c8e6c9;
    color: #1b5e20;
}


